*,
body {
  font-size: 67.5%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$color-darkest: #00226b;
$color-very-dark: #1505e8;
$color-dark: #0526f2;
$color-middle: #1057db;
$color-light: #058af2;
$color-lightest: #bce6f4;

$breakpoints: (
  "small-mobile": 360px,
  "mobile": 480px,
  "tablet": 768px,
  "laptop": 1024px,
  "desktop": 1200px,
) !default;

@mixin bp($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media only screen and (max-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  }
}

@mixin bppx($breakpoint) {
  @media only screen and (max-width: $breakpoint) {
    @content;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@import "./components/Navbar/Navbar.scss";
@import "./components/About/About.scss";
@import "./components/Image/Image.scss";
