*,
body {
  font-size: 67.5%;
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

$color-darkest: #00123a;
$color-very-dark: #1505e8;
$color-dark: #0526f2;
$color-middle: #1057db;
$color-light: #058af2;
$color-lightest: #bce6f4;

$breakpoints: (
  "small-mobile": 360px,
  "mobile": 480px,
  "tablet": 768px,
  "laptop": 1024px,
  "desktop": 1200px,
) !default;

@mixin bp($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media only screen and (max-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  }
}

@mixin bppx($breakpoint) {
  @media only screen and (max-width: $breakpoint) {
    @content;
  }
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-size: 3.6rem;
  margin-bottom: 1rem;
  color: $color-darkest;
}
h2 {
  font-size: 2.8rem;
  margin-bottom: 1rem;
  color: $color-darkest;
}

@import "./components/Navbar/Navbar.scss";
@import "./components/About/About.scss";
@import "./components/Projects/Projects.scss";
@import "./components/Image/Image.scss";
